# Compiled binary
app.exe
*.o
*.obj

# Debug files
*.pdb

# VS Code user-specific settings (keep .vscode/*.json files though!)
.vscode/settings.json
.vscode/ipch/

# OS files
Thumbs.db
.DS_Store

# Per-machine score data
scoreboard.txt

# Build artifacts
build/
out/